@font-face {
    font-family: 'Pinyon Script';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../assets/fonts/pinyon-0.woff2) format('truetype');
}
@font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(../assets/fonts/outfit-4.woff2) format('truetype');
}
@font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../assets/fonts/outfit-2.woff2) format('truetype');
}
@font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(../assets/fonts/outfit-5.woff2) format('truetype');
}
@font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(../assets/fonts/outfit-1.woff2) format('truetype');
}
@font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(../assets/fonts/outfit-3.woff2) format('truetype');
}
